{% extends 'articles/dashboard.html' %}
{% load static %}

{% block title%}

{% endblock title %}
{% block content %}

<br>
<br>
<br>
<div class='container'>
<div class='container p-3 m-3 jumbotron bg-white'>
<div class='row'>
<div class='col p-3 text-center'>
<br>
<img src="{% static 'images/image4.jpg' %}" class='img-fluid'>
</div>
<div class='col pl-3 m-1'>
<h4 class='text-center'>Reset Password</h4>
<p style ='background:black'>___________</p>
<br>
<form action='' method='POST'>
{% csrf_token %}
{{ form.as_p }}
<input type='submit' value='submit' class='btn-dark'>
</form>
<br>
<p style ='background:black'>___________</p>

<br>
</div>
</div>
</div>
</div>
<br>
<br>


{% endblock content %}